In [15]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [17]:
creditdata= pd.read_csv('creditcard.csv')

In [18]:
creditdata.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [19]:
creditdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5974 entries, 0 to 5973
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    5974 non-null   int64
 1   V1      5974 non-null   float64
 2   V2      5974 non-null   float64
 3   V3      5974 non-null   float64
 4   V4      5974 non-null   float64
 5   V5      5974 non-null   float64
 6   V6      5974 non-null   float64
 7   V7      5974 non-null   float64
 8   V8      5974 non-null   float64
 9   V9      5974 non-null   float64
 10  V10     5974 non-null   float64
 11  V11     5974 non-null   float64
 12  V12     5974 non-null   float64
 13  V13     5974 non-null   float64
 14  V14     5974 non-null   float64
 15  V15     5974 non-null   float64
 16  V16     5974 non-null   float64
 17  V17     5974 non-null   float64
 18  V18     5973 non-null   float64
 19  V19     5973 non-null   float64
 20  V20     5973 non-null   float64
 21  V21     5973 non-null   float64
 22  V22     5973 non-null   float64
 23  V23     5973 non-null   float64
 24  V24     5973 non-null   float64
 25  V25     5973 non-null   float64
 26  V26     5973 non-null   float64
 27  V27     5973 non-null   float64
 28  V28     5973 non-null   float64
 29  Amount  5973 non-null   float64
 30  Class   5973 non-null   float64
dtypes: float64(30), int64(1)
memory usage: 1.4 MB

In [20]:
creditdata['Class'].value_counts()

0.0    5970
1.0       3
Name: Class, dtype: int64

In [21]:
#separation of datas


leegit=creditdata[creditdata.Class==0]

In [22]:
fraud=creditdata[creditdata.Class==1]

In [23]:
leegit.shape

(5970, 31)

In [24]:
fraud.Amount.describe()

count      3.000000
mean     256.310000
std      264.880121
min        0.000000
25%      119.965000
50%      239.930000
75%      384.465000
max      529.000000
Name: Amount, dtype: float64

In [25]:
#compare values for both transaction

creditdata.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,2677.40201,-0.264965,0.285625,0.844580,0.102656,0.000958,0.195420,0.018542,-0.039195,0.397472,...,0.055426,-0.043268,-0.161540,-0.036683,0.028985,0.089890,-0.040132,0.025238,0.006163,64.965707
1.0,1780.00000,-2.553039,0.184644,-0.293711,2.872264,0.005330,-0.855718,-0.549831,0.308239,-1.093098,...,0.599742,0.294921,-0.177321,0.361160,-0.020311,0.056068,-0.170050,0.015979,-0.086847,256.310000

**bold text** build a sample dataset for similar fraid and norma;l transaction

In [26]:
leegit_sample=leegit.sample(n=90)

In [27]:
leegit_sample.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
2154,1665,-2.323486,2.018356,0.127581,-2.289277,0.416302,0.564754,0.269058,0.491662,1.498929,...,-0.359707,-0.530568,-0.157659,-1.736973,0.164332,0.877502,1.098095,0.625987,0.99,0.0
1408,1091,0.954809,-0.538591,0.310236,0.643465,-0.838893,-0.758949,0.098631,-0.144514,0.670702,...,-0.159016,-0.655123,-0.102561,0.412359,0.323743,0.489398,-0.073731,0.033355,158.00,0.0
3157,2734,-0.600376,1.240956,1.197037,-0.029628,0.186112,-0.495643,0.627277,-0.011598,-0.276346,...,-0.197914,-0.570348,0.020831,0.023124,-0.256418,0.075037,-0.012617,0.090783,1.78,0.0
1987,1527,-0.508662,0.977653,1.651042,-0.153578,0.098010,-0.216195,0.539328,0.193393,-0.707379,...,-0.133872,-0.310967,0.012599,0.211516,-0.317230,0.070107,0.280498,0.109793,0.89,0.0
4616,3977,1.216191,0.417665,0.419820,0.847285,-0.111551,-0.556245,-0.084684,-0.145017,1.315725,...,-0.410639,-0.902862,0.170780,-0.027464,0.119720,0.085564,-0.033409,0.020970,1.79,0.0

In [29]:
new_data=pd.concat([leegit_sample,fraud], axis=0)

In [30]:
new_data['Class'].value_counts()

0.0    90
1.0     3
Name: Class, dtype: int64

In [31]:
X=new_data.drop(columns='Class', axis=1)
Y=new_data['Class']

In [36]:
print(Y)

2154    0.0
1408    0.0
3157    0.0
1987    0.0
4616    0.0
       ...
4450    0.0
5182    0.0
541     1.0
623     1.0
4920    1.0
Name: Class, Length: 93, dtype: float64

In [46]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2, stratify=Y, random_state=6)

In [47]:
model= LogisticRegression()

In [48]:
model.fit(X_train,Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [49]:
X_train_pred= model.predict(X_train)

In [50]:
tracc= accuracy_score(X_train_pred,Y_train)

In [51]:
print(tracc)

1.0

In [52]:
X_test_pred= model.predict(X_test)

In [53]:
tstacc=accuracy_score(X_test_pred,Y_test)

In [54]:
tstacc

0.9473684210526315

In [ ]:
from google.colab import drive
drive.mount('/content/drive')